mixin results(list)
    ul
        each item in list
            li
                a(href=item.url)
                    h2 #{item.title}
                    img(src=item.image)
                    span #{item.price}